<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>
    <body>
        <h2 >Imports Management System</h2>
        <br> <br>
        <div class="over">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                             <form #myForm="ngForm">
                                <div class="form-group">
                                    <label for="container No">
                                      Conatiner No:
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="contno" 
                                           #contno="ngModel" ngModel
                                           required
                                           pattern="[0-9]+"
                                            />
                                </div>


                                <div *ngIf="contno.touched">
                                  <div *ngIf="contno.errors?.['required']">
                                    <b style="color: red;">Container required.</b>
                                  </div>
                                  <div *ngIf="contno.errors?.['pattern']">
                                    <font color= "red"><b>Invalcontno Conatiner No.</b></font>
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="Product  Name">
                                        Product Name:
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="prodname" 
                                           #prodname="ngModel" ngModel
                                           required
                                           pattern="[a-z]+"
                                            />

                                  <div *ngIf="prodname.touched">
                                  <div *ngIf="prodname.errors?.['required']">
                                    <b style="color: red;">Product Name required.</b>
                                  </div>
                                  <div *ngIf="prodname.errors?.['pattern']">
                                    <font color= "red"><b>Invalcontno Product Name.</b></font>
                                  </div>
                                </div>
                                </div>

                                <div class="form-group">
                                    <label for="quantity">
                                        Quantity:
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="quantity" 
                                           #quantity="ngModel" ngModel
                                           required
                                           pattern="[0-9]+"
                                           />
                                </div>

                                <div *ngIf="quantity.touched">
                                  <div *ngIf="quantity.errors?.['required']">
                                    <b style="color: red;">Quantityrequired.</b>
                                  </div>
                                  <div *ngIf="price.errors?.['pattern']">
                                    <font color= "red"><b>Invalcontno Quantity.</b></font>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label for="Price">
                                      Price:
                                  </label>
                                  <input type="text" 
                                         class="form-control" 
                                         name="price" 
                                         #price="ngModel" ngModel
                                         required
                                         pattern="[0-9]+"
                                         />
                              </div>

                              <div *ngIf="price.touched">
                                <div *ngIf="price.errors?.['required']">
                                  <b style="color: red;">price required.</b>
                                </div>
                                <div *ngIf="price.errors?.['pattern']">
                                  <font color= "red"><b>Invalcontno price.</b></font>
                                </div>
                              </div>
                                

                                                              
                                <button class="btn btn-success "(click)="insertImports(myForm.value)">
                                    Insert 
                                </button>
                            &nbsp;&nbsp;
                                <button class="btn btn-primary" (click)="updateImports(myForm.value)" >
                                    Update 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-danger" (click)="deleteImports(myForm.value)">
                                    Delete 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-warning" (click)="findImports(myForm.value)" >
                                    Find 
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-info" (click)="findAllImports()">
                                    Find All
                                </button>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <br>
         <h3>{{result}}</h3>
         <div style="width: 100%;" *ngIf="flag">
          <table wcontnoth="80%" align="center" class="table table-borderd">
           <tr><th>Imports contno</th><th>Imports Name</th><th>Imports Salary</th></tr> 
            <tr *ngFor="let imports of importsArr">
                <td> {{imports.id}} </td><td> {{imports.prodname}} </td><td> {{imports.quantity}} </td> <td> {{imports.price}}</td>
            </tr>
         </table>
         </div>
         </div>
    </body>
</html>